h2
{
    color:rgb(255, 255, 255);
    margin: 15px;
}
h6
{
    font-size: 15px;
}
body
{
    margin: 0;
    background-color: rgb(211, 255, 229);
    height: 100%;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main_form
{
    background-color: rgb(211, 255, 229);
    margin: 0px;
    padding: 0px;
}
header
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(211, 255, 229);
}
main
{
    background-color: rgb(211, 255, 229);
    margin: 0px;
    padding: 0px;
    text-align: center;
}
footer
{
    background-color: rgb(113, 255, 172);
    border-top: solid 3px rgb(40, 34, 66);
    margin: 10px;
    padding: 5px 15px 0px 15px;
}
ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
ul > li > a
{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(40, 34, 66);
}
a
{
    text-decoration: none;
}
button
{
    color: rgb(59, 45, 121);
    background: transparent;
    border: 3px solid rgb(59, 45, 121);
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
html
{
    height: 100%;
}
h1, h2
{
    font-family:Trebuchet MS, sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: rgb(40, 34, 66);
    margin: 0px 10px 10px 20 px;
}
p
{
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
}
article
{
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article > div > p
{
    font-family: Courier, monospace;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 0;
}
article > div > img
{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(40, 34, 66);
    padding: 0;
}
table
{
    margin: 10px 0px 0px 0px;
    font-weight: 500;
    font-size: 20px;
}
.form_flex
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; 
    justify-content: center; 
    max-width: 600px; 
    margin: 0 auto; 
    border: 4px solid rgb(113, 255, 172);
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}
h1
{
    text-align: center;
}
.resume
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper
{
    width: 85%;
    margin: 0 auto;
    background-color: rgba(88, 255, 157, 0.3);
    padding: 30px;

}
.main-flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-img
{
    margin-left: 20px;
}